
/* 
    Created on : 26/07/2014, 08:45:05 AM
    Author     : Hernando Penha <hernando.pena at elheraldo.co>
*/

.center{
    text-align:center;
}

.left{
    text-align:left;
}

.capital{
    text-transform: capitalize;
}

.repo_header{    
    padding: 4px 3px 4px 7px;
}

.reporte{
    background-color: white;
    margin: 0 10px 0 10px;
    text-align: center;
    color: #8c8c8c;    
    
}

.repo_content{
    margin-left: 5px;
    padding: 5px 5px 0 5px;
    text-align: left;
}

ico_user{
    border-bottom-color: #8c8c8c;
    border-width: thin;
}


.img{
  width: 100%;
  max-width: 100%;    
}

